.facebook-page p{
font-size: 1.75rem;
white-space: nowrap;
}
form {
display: flex;
flex-direction: column;
background: #fff;
border-radius: 8px;
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1, 0 8px 16px rgba(0, 0, 0, 0.1);
max-width: 400px;
width: 100%;
}
form input {
height: 55px;
width: 100%;
border: 1px solid #ccc;
border radius: 6px;
 margin-bottom: 15px;
font-size: 1rem;
 padding: l0 14px;
}
form Input:focus {
outline: none;
 border-color: #1877f2;
}
::placeholder {
 color: #777;
font-size: 1.063rem;
}
