 hr {
   border: none;
   height: 1px;
   background-color: #ccc;
   margin-bottom: 20px;
   margin-top: 20px;
   
 }
 .button {
   margin-top: 25px;
   text-align: center;
   margin-bottom: 20px;
   
 }
 .button a {
   padding: 15px 20px;
   background: #42b72a;
   border-radius: 6px;
   color: #fff;
   font-size: 1.063rem;
   font-weight: 600;
   transition: 0.2s ease;
   
 }
 .button a:hover {
background: #3ba626;
}
@media (max-width: 900px) {
  .facebook-page { 
    flex-direction: column;
    text-align: center;
    
  }
  .facebook-page .text {
    margin-bottom: 30px;
    
  }
  
}